<% for(var i=0;i<Object.keys(emailsData).length;i++) { %>
	<tr>
		<td>
			<%= emailsData[i].to %>
		</td>
		<td><%= emailsData[i].subject %></td>
		<td><%= emailsData[i].timestamp.toDate() %></td>
		<td>
			<a
				href="/readStarredEmail?ID=<%= emailsID[i] %>"
				class="btn btn-simple btn-primary btn-icon edit"
				><i class="ti-pencil-alt"></i
			></a>
			<a
				href="/deleteStarredEmail?ID=<%= emailsID[i] %>"
				class="btn btn-simple btn-danger btn-icon edit"
				><i class="ti-trash"></i
			></a>
		</td>
	</tr>

	<% }%></Object.keys(emailsData).length;i++)
>
