<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Update Profile | Email Application</title>
		<%- include('components/meta') %> <%- include('components/link') %>
	</head>

	<body>
		<div class="wrapper">
			<%- include('components/sidebar') %>
			<div class="main-panel"  style="width: calc(100% - 230px);">
				<nav class="navbar navbar-default">
					<div class="container-fluid">
						<div class="navbar-minimize">
							<button
								id="minimizeSidebar"
								class="btn btn-fill btn-icon"
							>
								<i class="ti-more-alt"></i>
							</button>
						</div>
						<div class="navbar-header">
							<button type="button" class="navbar-toggle">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar bar1"></span>
								<span class="icon-bar bar2"></span>
								<span class="icon-bar bar3"></span>
							</button>
							<a class="navbar-brand" href="/updateProfile"
								>Update your profile to continue</a
							>
						</div>
					</div>
				</nav>

				<div class="content">
					<div class="container-fluid">
						<div class="row">
							<div class="col-lg-12 col-md-12">
								<div class="card">
									<div class="card-content">
										<form
											method="POST"
											action="/onUpdateProfile"
										>
											<div class="row">
												<div class="col-md-4">
													<div class="form-group">
														<label for="DOB"
															>Date of
															Birth<span style="color:red">*</span></label
														>
														<input
															id="DOB"
															type="date"
															name="DOB"
															class="form-control border-input"
															autocomplete="bday"
															required
														/>
													</div>
												</div>
												<div class="col-md-4">
													<div class="form-group">
														<label for="countryCode"
															>Country Code<span style="color:red">*</span></label
														>
														<select id="countryCode" name="countryCode" class="form-control border-input" required>
															<option disabled selected value>Country Code</option>
															<option value="India">+91</option>
														 </select>
													</div>
												</div>
												<div class="col-md-4">
													<div class="form-group">
														<label for="mobile"
															>Mobile
															number<span style="color:red">*</span></label
														>
														<input
															id="mobile"
															type="tel"
															name="mobile"
															class="form-control border-input"
															autocomplete="tel-national"
															placeholder="Mobile number"
															pattern="^[6-9]\d{9}$"
															title="10 digit mobile number"
															required
														/>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-4">
													<div class="form-group">
														<label for="firstName"
															>First Name<span style="color:red">*</span></label
														>
														<input
															id="firstName"
															type="text"
															class="form-control border-input"
															placeholder="First Name"
															pattern="^[a-zA-Z0-9]+(?:[\s.,@'_-][,\s]?[a-zA-Z0-9]+)*$"
															title="Can contain few special characters like ,.@'_- and space, Cannot start or end with special character"
															name="firstName"
															autocomplete="given-name"
															required
														/>
													</div>
												</div>
												<div class="col-md-4">
													<div class="form-group">
														<label for="lastName"
															>Last Name<span style="color:red">*</span></label
														>
														<input
															id="lastName"
															type="text"
															class="form-control border-input"
															placeholder="Last Name"
															pattern="^[a-zA-Z0-9]+(?:[\s.,@'_-][,\s]?[a-zA-Z0-9]+)*$"
															title="Can contain few special characters like ,.@'_- and space, Cannot start or end with special character"
															name="lastName"
															autocomplete="family-name"
															required
														/>
													</div>
												</div>
												<div class="col-md-4">
													<div class="form-group">
														<label for="gender"
															>Gender<span style="color:red">*</span></label
														>
														<select id="gender" name="gender" class="form-control border-input" required>
															<% if (userProfile.gender == 'Male') { %>
																<option selected value="Male">Male</option>
																<option value="Female">Female</option>
															<% } else if (userProfile.gender == 'Female') { %>
																<option value="Male">Male</option>
																<option selected value="Female">Female</option>
															<% } else { %>
																<option disabled selected value>Gender</option>
																<option value="Male">Male</option>
																<option value="Female">Female</option>
															<% } %>
														</select>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-12">
													<div class="form-group">
														<label for="address1"
															>Address Line
															1<span style="color:red">*</span></label
														>
														<input
															id="address1"
															type="text"
															class="form-control border-input"
															name="address1"
															pattern="^[#a-zA-Z0-9]+(?:[\s,-][,\s]?[a-zA-Z0-9]+)*$"
															title="Can contain alphabets, numbers, special characters such as space,comma,-,#,: Cannot start or end with a special character"
															placeholder="Address Line 1"
															autocomplete="address-line1"
															required
														/>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-12">
													<div class="form-group">
														<label for="address2"
															>Address Line
															2</label
														>
														<input
															id="address2"
															type="text"
															class="form-control border-input"
															name="address2"
															pattern="^[#a-zA-Z0-9]+(?:[\s,-][,\s]?[a-zA-Z0-9]+)*$"
															title="Can contain alphabets, numbers, special characters such as space,comma,-,#,: Cannot start or end with a special character"
															placeholder="Address Line 2"
															autocomplete="address-line2"
														/>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-4">
													<div class="form-group">
														<label for="city"
															>City<span style="color:red">*</span></label
														>
														<input
															id="city"
															type="text"
															class="form-control border-input"
															name="city"
															placeholder="City"
															pattern="^[a-zA-Z0-9]+(?:[\s-][a-zA-Z0-9]+)*$"
															title="Can contain alphabets, numbers, special characters such as space,-,# Cannot start or end with a special character"
															autocomplete="address-level2"
															required
														/>
													</div>
												</div>
												<div class="col-md-4">
													<div class="form-group">
														<label for="country"
															>Country<span style="color:red">*</span></label
														>
														<select id="country" name="country" class="form-control border-input" required>
															<option disabled selected value>Country</option>
															<option value="India">India</option>
														 </select>
													</div>
												</div>
												<div class="col-md-4">
													<div class="form-group">
														<label for="postalCode"
															>Postal Code<span style="color:red">*</span></label
														>
														<input
															id="postalCode"
															type="text"
															name="postalCode"
															class="form-control border-input"
															placeholder="Postal Code"
															autocomplete="postal-code"
															pattern="^[0-9]{6}$"
															title="6 digit postal code"
															required
														/>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-12">
													<div class="form-group">
														<label for="bio"
															>About Me</label
														>
														<input
															id="bio"
															type="text"
															class="form-control border-input"
															placeholder="Add your description"
															name="bio"
														/>
													</div>
												</div>
											</div>
											<div class="text-center">
												<button
													type="submit"
													class="btn btn-primary btn-wd"
												>
													Update Profile
												</button>
											</div>
											<div class="clearfix"></div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<%- include('components/footer') %>
			</div>
		</div>
		<%- include('components/scripts') %>
		<script>
			var date = new Date();
			var DD = (date.getDate() < 10 ? "0" : "") + date.getDate();
			var MM =
				(date.getMonth() + 1 < 10 ? "0" : "") + (date.getMonth() + 1);
			var YYYY = date.getFullYear();
			document.getElementById("DOB").min =
				YYYY - 100 + "-" + MM + "-" + DD;
			document.getElementById("DOB").max =
				YYYY - 10 + "-" + MM + "-" + DD;
		</script>
	</body>
</html>
